

<% if @user == current_user %>



<h1><%= @products.each do |product|  %></h1>
 <h1>  <%= products.product_name  %></h1>
      <p><%= products.description %> <%= products.condition %></p>

 <% end %>
 <% end %>
