

<% if @user == current_user %>



<h1><%= @product.each do |product|  %></h1>
 <h1>  <%= product.product_name  %></h1>
      <p><%= product.description %> <%= product.condition %></p>

 <% end %>
 <% end %>
