<html>
<div>

<body>
  <div>
    <div style="display: flex; margin:space-around;">
    <div style="margin-left: 20%;"> <!-- profile pic with upload function -->

    <img class="avatar-large" alt="avatar-large" src="https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png" />

    </div>
    <div style="box-shadow: 0 0 15px rgba(0,0,0,0.2)">


      <h4 style=" margin-left: 20%;">amanda_nash</h4>
      <p>actor/musicans/dancers Follow me on instagram/twitter/faceboook</p>

     <!--  profile info -->

          <!--   <i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i> -->

  <!--     email and stuff -->
    </div>
</div>






<div class = "cards-products" style="margin-top: 50px; background-color: #dee2e6;">
<div style="display: flex;">

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>


<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>


<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
</div>

</div>
</div>

</body>

</html>
