/** {
  box-sizing: border-box;
}*/

/* brand */
#header .navbar .navbar-brand {
margin: auto;
padding: 0;
max-width: 250px;
max-height: 70px;
color: #fff;
text-transform: uppercase;
text-shadow: none;
position: absolute;
top: 50%;

-webkit-transform: translate(0,-50%);
-ms-transform: translate(0,-50%);
transform: translate(0,-50%);
}
#header .navbar .navbar-brand img{
  max-height: 100%;
}
.navbar .brand:hover, .navbar .navbar-brand:focus {
text-decoration: none;
}


#header .navbar .nav > li > a {
position: relative;
padding-top: 40px;
padding-bottom: 40px;
color: rgba(0, 0, 0, .6);
text-transform: uppercase;
text-shadow: none;
font-weight: 600;
font-size: 14px;
}

.navbar{
  background-color:rgba(255, 255, 255, .9);

}
.nav>li{
/*   color:#fff; */
}

.nav >li >a:hover,
.nav >li >a:focus,
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > .active > a:focus
{
  text-decoration: none;
  background-color: rgba(255, 255, 255, .8)!important;
  color: #fff;
  box-shadow: 0 3px 0 rgb(106,168,66);
}

#header .sticky.navbar .nav > li > a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
